button {
    font-size: 20px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterButton {
    background-color: #00a5ab;
}

.resetButton {
    background-color: #7b0aec;
}

.count {
    font-size: 50px;
    padding: 20px;
}

.totalCount {
    font-size: 150px;
    padding: 20px;
    color: #00a5ab;
}